html {
  overflow: hidden;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100vw;
}

.main {
  position: fixed;
  transform: translateZ(0);
}

.scene {
  position: absolute;
  transition: opacity .3s ease-in-out;
}

.scene.hide {
  opacity: 0;
}
