html {
  overflow: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}
