html {
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.content {
  height: 0;
  padding: 50vh 50vw;
  position: fixed;
  transform: translateZ(0);
  width: 0;
}

.scene {
  position: absolute;
  transition: opacity .3s ease-in-out;
}

.scene.hide {
  opacity: 0;
}
